<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>URLが変更されたページです。</title>
        <meta http-equiv="refresh" content="5; url={{ page.to }}">
        <link rel="canonical" href="{{ page.to }}">
        <link rel="icon" href="/assets/img/icons/favicon.ico" type="image/x-icon">
        <!-- build:css({app,.tmp}) /assets/css/main.css -->
        <!-- Syntax highlighting CSS -->
        <link rel="stylesheet" href="/assets/css/syntax.css">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="/assets/css/style.css">
        <!-- endbuild -->
    </head>
    <body>
        {% include header.liquid %}
        <div class="main container--small" role="main">
            <p><strong>{{ page.title }}</strong>のページはサイトリニューアルに伴い移動しました。<br />
                新しいページは<a href="{{ page.to }}">{{ site.url }}{{ page.to }}</a>になりました。</p>

            <p>5秒後に自動的に新しいページに移動します。</p>

        </div><!-- / .main -->

        {% include footer.liquid %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <!-- build:js({app,.tmp}) /assets/js/scripts.js -->
        <script src="/assets/js/main.js"></script>
        <!-- endbuild -->
        {% include google-analytics.liquid %}
    </body>
</html>
